
<div class="englobador">

  <h3>Agregar un nuevo producto</h3>
  
  <form (ngSubmit)="agregar()">
      
      <div class="nameField">
        <span>Nombre</span>
          <input type="text" placeholder="Ingrese el nombre" class="inputs"
          name="name" class="form-control"
          [(ngModel)]="item.name">
      </div>
      
      <div class="priceField">
        <span>Precio</span>
          <input type="text" placeholder="Ingrese el precio" class="inputs"
          name="precio" class="form-control"
          [(ngModel)]="item.precio">
      </div>
      
      <div class="priceField">
        <span>Peso</span>
          <input type="text" placeholder="Ingrese el peso" class="inputs"
          name="precio" class="form-control"
          [(ngModel)]="item.peso">
      </div>
      
      <div class="priceField">
        <span>Descripcion</span>
          <textarea cols="10" rows="5" type="text" placeholder="Ingrese la descripcion" class="inputs"
          name="precio" class="form-control"
          [(ngModel)]="item.descripcion"></textarea>
      </div>
      
      <div class="priceField">
        <span>URL de la imagen</span>
          <input cols="10" rows="5" type="text" placeholder="Ingrese la URL de la imagen" class="inputs"
          name="precio" class="form-control"
          [(ngModel)]="item.imagen">
      </div>
      
      <div class="divbtn" data-toggle="modal" data-target="#staticBackdrop">
          <button class="btn" type="submit">Agregar</button>
      </div>
  
  </form>
</div>

<div class="en">
  <h1 style="text-align: center;">Listado de productos</h1>
  
  <div class="lupa">
    <i id="lupa" class="fas fa-search"></i>
  </div>

  <div class="inputt">
      <label for="inpu" class="labell">Buscador</label>
      <input [(ngModel)] = "filterPost" id="inpu" name="filterPost" type="text" class="form-control" placeholder="Buscar producto por nombre" style="width: 250px; height: 25px;">
  </div>
  
  <div class="engloba">
      <div class="div1" *ngFor="let item of items | filter: filterPost">
              <p class="txt1">{{item.name}}</p>
  
              <div class="icono2" (click)="editar(item)" data-toggle="modal" data-target="#exampleModal">
                  <i id="ico2" class="fas fa-pencil-alt"></i>
              </div>
  
          <div class="icono" (click)="eliminar(item)">
              <i id="ico" class="far fa-trash-alt"></i>
          
            </div>
      </div>
  </div>
</div>
 

<!-- Modal -->
<div class="modal fade" style="margin-left: 500px; margin-top: 60px;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Producto a editar: {{editarItem.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="agregarItemEditado()">
      
          <div class="nameField">
            <span>Nombre</span>
              <input type="text" placeholder="Ingrese el nombre" class="inputs"
              name="name" class="form-control"
              [(ngModel)]="editarItem.name">
          </div>
          
          <div class="priceField">
            <span>Precio</span>
              <input type="text" placeholder="Ingrese el precio" class="inputs"
              name="precio" class="form-control"
              [(ngModel)]="editarItem.precio">
          </div>
          
          <div class="priceField">
            <span>Peso</span>
              <input type="text" placeholder="Ingrese el peso" class="inputs"
              name="precio" class="form-control"
              [(ngModel)]="editarItem.peso">
          </div>
          
          <div class="priceField">
            <span>Descripcion</span>
              <textarea cols="10" rows="5" type="text" placeholder="Ingrese la descripcion" class="inputs"
              name="precio" class="form-control"
              [(ngModel)]="editarItem.descripcion"></textarea>
          </div>
          
          <div class="priceField">
            <span>URL de la imagen</span>
              <input cols="10" rows="5" type="text" placeholder="Ingrese la URL de la imagen" class="inputs"
              name="precio" class="form-control"
              [(ngModel)]="editarItem.imagen">
          </div>
          
          <div class="divbtn">
            <button class="btn" (click)="alerta()" type="submit">Guardar</button>
          </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary border-0" style="margin-right: 250px; margin-top: -52px;" data-dismiss="modal">Cerrar</button>
        </div>
      
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" style="margin-left: 480px; margin-top: 200px;" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="margin-left: 85px;">Producto agregado correctamente!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary border-0" style="margin-right: 220px;" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>
