
  
  <h2 style="text-align:center" >Fundadores</h2>
  <div class="row">
    
    <div class="column">
      <div class="card">
        <img src="assets/IMG-2244.JPG" alt="Luis" style="width:200px">
        <div class="container">
          <h2>Luis Vargas</h2>
          <p class="title">Especialidad: Angular</p>
          <p>Carrera: Ingenieria de Sistemas</p>
          <p>Edad: 21 anos</p>
          <p>Correo: luis.vargas@correo.unimet.edu.ve</p>
          <a href="https://api.whatsapp.com/send?phone=+584242663931"><button class="button">Contact</button></a>
        </div>
      </div>
    </div>
    


    <div class="column">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Deadpool_2_Japan_Premiere_Red_Carpet_Ryan_Reynolds_%28cropped%29.jpg" alt="John" style="width:150px">
          <div class="container">
            <h2>Brian Cisneros</h2>
            <p class="title">Especialidad: Firebase</p>
            <p>Carrera: Ingenieria de Sistemas</p>
            <p>Edad: 24 anos</p>
            <p>Correo: brian.cisneros@correo.unimet.edu.ve</p>
            <a href="https://api.whatsapp.com/send?phone=+584265368334"><button class="button">Contact</button></a>
          </div>
        </div>
      </div>

    <div class="column">
      <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BMTk3NTM1MjE2M15BMl5BanBnXkFtZTcwNzc5OTI2Mg@@._V1_UY317_CR17,0,214,317_AL_.jpg" alt="Mike" style="width:150px">
        <div class="container">
          <h2>Marcos Rodriguez</h2>
          <p class="title">Especialidad: Diseno grafico</p>
          <p>Carrera: Ingenieria de Sistemas</p>
          <p>Edad: 20 anos</p>
          <p>Correo: marcos.rodriguez@correo.unimet.edu.ve</p>
          <a href="https://api.whatsapp.com/send?phone=+584126357860"><button class="button">Contact</button></a>
        </div>
      </div>
    </div>
    
    
  </div>

  <div class="card-group">
    <div class="card">
      <img id="imgM" src="assets/43788.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Historia</h5>
        <p class="card-text">ChucheMET es una empresa surgida en el 2020 producto de un emprendimiento de la Universidad Metropolitana de Caracas</p>
      </div>
    </div>
    <div class="card">
      <img id="imgM" src="assets/plato-2836_ppc.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mision</h5>
        <p class="card-text">Proveer un ambiente divertido y seguro donde los clientes disfruten de buenas chucherias a precios accesibles. Inspirar momentos de felicidad con los sere queridos</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Misión.png" id="imgM" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vision</h5>
        <p class="card-text">Vender excelentes productos y poner el foco en la innovación. Ir hacia un crecimiento rentable y mejorar para vender chucherias deliciosa a más clientes, cada día y en todo el pais.</p>
      </div>
    </div>
  </div>