<div class="footer2">
    <div class="divfoto"><img src="assets/logo direccion.jpg.png" class="dirfoto" alt=""></div>
    <p class="lasmercedes">Las Mercedes</p>
    
    <div class="footer3">
        <img src="assets/logotelf.png" class="telffoto" alt="">
        <p class="txttelf">02129771756</p>
    </div>
    
    <div class="footer3">
        <img src="assets/logo gmail.png" class="telffoto" alt="">
        <p class="txttelf">chucherias@chuchemet.com</p>
    </div>

    <div class="f">
        <p class="redes">Visitanos en nuestras redes</p>
        <div class="foto"><a href="https://www.instagram.com/"><img class="logoig" src="assets/ig-blanconegro.png" alt=""></a></div>
        <div class="fotowa"><a href="https://www.google.com/"><img class="logowa" src="assets/logo-wa-b&w.png" alt=""></a></div>
        <div class="fotofb"><a href="https://www.google.com/"><img class="logofb" src="assets/logofb-b&w.png" alt=""></a></div>
    </div>

    <div class="interes">
        <p>Informacion de iteres</p>
        <ul>
            <li>Productos</li>
            <li>Equipo de trabajo</li>
            <li>Contactanos</li>
        </ul>
    </div>
        
    
</div>



<div class="footer">
    <span class="txt">ChucheMET  -  RIF: 00264894951</span>

</div>
