<div class="enloba">

    <form action="" class="formulario" id="formulario" [formGroup]="registroForm" (ngSubmit)="onRegistro()">
        <!-- Usuario -->
        <div class="formulario__grupo" id="grupo__usuario">
            <label for="usuario" class="formulario__label">Usuario</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="Escriba su usuario" formControlName="usuario">
                <div class="alert-danger" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
                    <div class="container-error-message" *ngIf="usuario.errors.required">
                        El usuario es requerido
                    </div>
                    <div class="container-error-message" *ngIf="usuario.errors.minlength">
                        El usuario debe contener al menos 3 caracteres
                    </div>
                </div>
            
            </div>
            
        </div>

        <!--  Nombre -->
        <div class="formulario__grupo" id="grupo__nombre">
            <label for="nombre" class="formulario__label">Nombre y Apellido</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Escriba su nombre" formControlName="nombre">
                <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div class="container-error-message" *ngIf="nombre.errors.required">
                        El nombre es requerido
                    </div>
                    <div class="container-error-message" *ngIf="nombre.errors.minlength">
                        El nombre debe contener al menos 6 caracteres
                    </div>
                </div>
            </div>
            
        </div>

        <div class="formulario__grupo" id="grupo__cedula">
            <label for="cedula" class="formulario__label">Cedula</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="cedula" id="cedula" placeholder="Escriba su cedula" formControlName="cedula">
                <div class="alert-danger" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
                    <div class="container-error-message" *ngIf="cedula.errors.required">
                        La cedula es requerida
                    </div>
                    <div class="container-error-message" *ngIf="cedula.errors.minlength">
                        Ingrese una cedula valida
                    </div>
                </div>
            </div>
            
        </div>

        <!-- Contraseña -->
        <div class="formulario__grupo" id="grupo__password">
            <label for="password" class="formulario__label">Contraseña</label>
            <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="password" id="password" placeholder="Escribe tu contraseña" formControlName="contrasena">
                <input type="checkbox">Mostrar contrasena
              
                <div class="alert-danger" *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">
                    <div class="container-error-message" *ngIf="contrasena.errors.required">
                        La contrasena es requerida
                    </div>
                    <div class="container-error-message" *ngIf="contrasena.errors.minlength">
                        El contrasena debe contener al menos 6 caracteres
                    </div>
                </div>
            </div>
            
        </div>


        <!--  Correo Electronico -->
        <div class="formulario__grupo" id="grupo__correo">
            <label for="correo" class="formulario__label">Correo Electrónico</label>
            <div class="formulario__grupo-input">
                <input type="email" class="formulario__input" name="correo" id="correo" placeholder="Escriba su correo Electrónico" formControlName="email">
                <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="container-error-message" *ngIf="email.errors.required">
                        El correo es requerido
                    </div>
                    <div class="container-error-message" *ngIf="email.errors.minlength">
                        Debe ingresar un correo valido
                    </div>
                </div>
            </div>
            
        </div>

        <!--Teléfono -->
        <div class="formulario__grupo" id="grupo__telefono">
            <label for="telefono" class="formulario__label">Teléfono</label>
            <div class="formulario__grupo-input">
                <input type="tel" class="formulario__input" name="telefono" id="telefono" placeholder="Ejemplo: 0414xxxxxxx o 414xxxxxx" formControlName="telefono">
                <div class="alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                    <div class="container-error-message" *ngIf="telefono.errors.required">
                        El telefono es requerido
                    </div>
                    <div class="container-error-message" *ngIf="telefono.errors.minlength">
                        Debe ingresar un telefono valido
                    </div>
                </div>
            </div>
            
        </div>
        
        <!--Nombre -->
        <div class="formulario__grupo" id="grupo__direccion">
            <label for="direccion" class="formulario__label">Direccion</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="direccion" id="direccion" placeholder="Escriba su direccion" formControlName="direccion">
                <div class="alert-danger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
                    <div class="container-error-message" *ngIf="direccion.errors.required">
                        La direccion es requerida
                    </div>
                    <div class="container-error-message" *ngIf="direccion.errors.minlength">
                        La direccion debe contener al menos 10 caracteres
                    </div>
                </div>
            </div>
            
        </div>


        <div class="formulario__mensaje" id="formulario__mensaje">
        </div>

        <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">Registrarse</button>
        </div>
        

    </form>
</div>


