<div class="container">
    <form class="form" action="">
        <div class="campos">
            <label for="fname">Nombre</label>
            <input type="text" id="fname" name="firstname" placeholder="Tu Nombre..">
            
            <label for="lname">Apellido</label>
            <input type="text" id="lname" name="lastname" placeholder="Tu Apellido..">
            
            <label for="email">E-Mail</label>
            <input type="text" id="email" name="email" placeholder="Tu E-Mail..">
            
            <label for="subject">Mensaje</label>
            <textarea id="subject" name="subject" placeholder="Que nos deseas decir.." style="height:200px"></textarea>
            
            <input type="submit" value="Enviar" data-toggle="modal" data-target="#staticBackdrop">
        </div>
    </form>
</div>
              

    <div class="telf">
        <h1 class="contactanos">Contactanos!</h1>
        <img class="telefono" src="assets/logotelf.png" alt="">
        <p class="t">02129771736</p>
        <img class="gmail" src="assets/logo gmail.png" alt="">
        <p class="email">Chucherias@chucheria.unimet.edu.ve</p>
        <img src="assets/logo direccion.jpg.png" alt="" class="dirfoto">
        <p class="direccion">Universidad Metropolitana</p>
        <p class="social">Social:</p>
    </div>

    

    <div class="fotos">
        <a href="https://www.facebook.com/"><img class="facebook" src="assets/facebook.png" alt="nocarga"></a>
        <a href="https://www.instagram.com/"><img class="ig" src="assets/logo ig.png" alt="nocarga"></a>
        <a href="https://api.whatsapp.com/send?phone=+584242663931"><img class="wa" src="assets/logo wa.png" alt="nocarga"></a>
    </div>

    <div class="modal fade" style="margin-left: 0px; margin-top: 200px;" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel" style="margin-left: 85px;">Su mensaje ha sido enviado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary border-0" style="margin-right: 220px;" data-dismiss="modal">Entendido</button>
            </div>
          </div>
        </div>
      </div>
