<div class="container">
    <form class="form" action="/">
        <div class="campos">
            <label for="fname">Primer Nombre</label>
            <input type="text" id="fname" name="firstname" placeholder="Tu Nombre..">
            
            <label for="lname">Apellido</label>
            <input type="text" id="lname" name="lastname" placeholder="Tu Apellido..">
            
            <label for="email">E-Mail</label>
            <input type="text" id="email" name="email" placeholder="Tu E-Mail..">
            
            <label for="subject">Mensaje</label>
            <textarea id="subject" name="subject" placeholder="Que nos deseas decir.." style="height:200px"></textarea>
            
            <input type="submit" value="Enviar">
        </div>
    </form>
</div>
              

    <div class="telf">
        <h1 class="contactanos">Contactanos!</h1>
        <img class="telefono" src="assets/logotelf.png" alt="">
        <p class="t">Telefono: 02129771736</p>
        <img class="gmail" src="assets/logo gmail.png" alt="">
        <p class="email">Email: Chucherias@chucheria.unimet.edu.ve</p>
        <img src="assets/logo direccion.jpg.png" alt="" class="dirfoto">
        <p class="direccion">Direccion: Universidad Metropolitana</p>
        <p class="social">Social:</p>
    </div>

    <div class="fotos">
        <img class="facebook" src="assets/facebook.png" alt="nocarga">
        <img class="ig" src="assets/logo ig.png" alt="nocarga">
        <img class="wa" src="assets/logo wa.png" alt="nocarga">
    </div>
