.textoC{
  margin-top: 20px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 40px;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 10px;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  .button3{
    background-color: white; 
    color: black; 
    border: 2px solid #7d939b;
    border-radius: 10px;
  }

  .button3:hover {
    background-color: #7d939b;
    color: white;
  }

  .button4{
    background-color: white; 
    color: black; 
    border: 2px solid #ee4b4b;
    border-radius: 10px;
  }

  .button4:hover {
    background-color: #ee4b4b;
    color: white;
  }

  .button5{
    background-color: white; 
    color: black; 
    border: 2px solid #ee4bee;
    border-radius: 10px;
  }

  .button5:hover {
    background-color: #ee4bee;
    color: white;
  }

  a{
    text-decoration: none;
  }