<div class="contenedor">
    <form action="" class="form">
        <div class="from-header">
            <h1 class="from-title">T<span>arjeta de credito/debito</span></h1>
        </div>

        <label class="from-label">correo: </label>
        <input type="text" id="nombre" class="form-input" placeholder="Ingrese su correo" >
       

        <label  class="from-label">Monto: </label>
        <input type="text" id="correo" class="form-input" placeholder="Ingrese el monto">

        

        
        
    

       

        <input type="submit" class="btn-submit" onclick='return enviarFormulario();' value="enviar" >

       
        
    </form>

 
  



   

    <div id='error'> </div>
</div>