<div class="slideshow-container">
        
    <div class="mySlides fade">
        <img src="imagenes/Prueba.jpg" style="width:100%">
      </div>
    <div class="mySlides fade">
      <a href="contacto.html"><img src="imagenes/img_nature_wide.jpg" style="width:100%"></a>
    </div>
    <div class="mySlides fade">
      <img src="imagenes/img_snow_wide.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="imagenes/img_mountains_wide.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>
<br>

<div class="body1">
    <h2 class="titulo2">Realiza tu pedido de forma rapida y eficientee</h2>
    <h2 class="titulo5">en 3 sencillos pasos</h2>
    <br>

    <div class="numbers">
        <img class="number" src="imagenes/number1.png" alt="">
        <img class="number" src="imagenes/number2.png" alt="">
        <img class="number" src="imagenes/number3.png" alt="">
    </div>

    <div class="fotos">
        <img class="foto1" src="imagenes/foto_products.png" alt="">
        <img class="hershey" src="imagenes/hershey.png" alt="">
        <img class="confirm" src="imagenes/confirm.png" alt="">
    </div>

    <div class="texto_fotos">
        <h3 class="tf">Vaya a la seccion productos</h3>
        <h3 class="tf">Escoja sus productos</h3>
        <h3 class="tf">Rellene la informacion y confirme</h3>
    </div>

</div>
<br>
<br>
<br>
<div class="body2">
        <h1 class="titulo_tu_lo_pides">Tu lo pides, nosotros te lo llevamos</h1>
        
        <div class="texto_delivery">
            <span>No importa donde</span>
        </div>
        
        <span class="ni_cuando">ni cuando</span>
        
        <div class="div_delivery">
            <img class="foto_delivery" src="assets/delivery.png" alt="">
        </div>
        
        <div class="texto2_delivery">
            <span>Nuestro servicio delivery</span>
        </div>
        
        <span class="trabaja_24_horas">trabaja las 24 horas</span>

        <span class="en_toda_caracas">En toda Caracas</span>

</div>

<div class="body3">
    <h1 class="pick_up">Ahora tambien contamos con Pick-Up</h1>

    <div class="div_mapfoto">
        <img class="foto_mapa" src="assets/map.png" alt="">
    </div>

    <div class="location1">
        <span class="la_castellana">La Castellana</span>
    </div>

    <div class="location2">
        <span class="lagunita">La Lagunita</span>
    </div>  

    <div class="location3">
        <span class="las_mercedes">Las Mercedes</span>
    </div>

</div>
<script src="cont.js"></script>