@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.sliderul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.sliderli{
    list-style: none;
    width: 100%;
} 

.imagenes{
    margin-top: 30px;
    margin-left: 100px;
    width: 90%;
    height: 70%;
}

@keyframes cambio{
   
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


 

.body1{
    
    height: 80%;
}

.titulo2{
    color: #296D98;
    margin-left: 15px;
    margin-top: 0px;
    text-align: center;
    font-size: 45px;
    font-family: 'Acme', sans-serif;
}

.titulo5{
    color: black;
    margin-left: 15px;
    margin-top: 5px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 25px
    }

.numbers{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.number{
    width: 100px;
    height: 100px;
}

.fotos{
    display: flex;
    justify-content: space-around;
    margin-top: -40px;
}

.foto1{
    width: 300px;
    height: 300px;
}

.hershey{
    margin-top: 30px;
    width: 300px;
    height: 150px;
}

.confirm{
    margin-top: 25px;
    height: 150px;
    width: 300px;
}

.texto_fotos{
    display: flex;
    justify-content: space-around;
    margin-top: -100px;
}

.tf{
    color: #296D98;
    padding-bottom: 55px;
    font-family: 'Acme', sans-serif;
}

.body2{
    margin-top: 0px;
    background-color: #C4DBFB;
}

.titulo_tu_lo_pides{
    text-align: center;
    color: black;
    padding-top: 100px;
    font-size: 40px;
    font-style: oblique;
}

.div_delivery{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: -200px;
}

.foto_delivery{
    width: 400px;
    height: 300px;
}

.texto_delivery{
    font-size: 30px;
   margin-left: 250px;
   margin-top: 200px;
   font-family: 'Acme', sans-serif;
}

.ni_cuando{
    font-size: 30px;
    margin-left: 300px;
    margin-top: -200px;
    font-family: 'Acme', sans-serif;
}

.texto2_delivery{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
    margin-top: -200px;
    padding-bottom: 100px;
    font-family: 'Acme', sans-serif;
}

.trabaja_24_horas{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin-right: 180px;
    margin-top: -100px;
    padding-bottom: 200px;
    font-family: 'Acme', sans-serif;
}

.en_toda_caracas{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    margin-top: -120px;
    margin-left: 70px;
    font-family: 'Acme', sans-serif;
}

.body3{
    background-color:#FEFDF3;
}

.pick_up{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 100px;
    color: #E74040;
    font-style: italic;
    font-size: 40px;
}

.foto_mapa{
    width: 500px;
    height: 250px;
}

.div_mapfoto{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.location1{
    margin-left: 230px;
    margin-top: -180px;
}

.la_castellana{
    font-size: 40px;
    font-family: 'Acme', sans-serif;
}

.location2{
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
    margin-top: -50px;
}

.lagunita{
    font-size: 40px;
    font-family: 'Acme', sans-serif;
}

.location3{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.las_mercedes{
    font-size: 40px;
    padding-bottom: 100px;
    font-family: 'Acme', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
  }