<div class="lupa">
  <i id="lupa" class="fas fa-search"></i>
</div>

<div class="inputt">
  <label for="inpu" class="labell">Buscador</label>
  <input [(ngModel)] = "filterUser" id="inpu" name="filterUser" type="text" class="form-control" placeholder="Buscar usuario por cedula" style="width: 250px; height: 25px;">
</div>


<table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cedula</th>
        <th scope="col">Usuario</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th>
        <th scope="col">Zona residencial</th>
      </tr>
    </thead>
      <tr *ngFor="let user of users | users: filterUser">
        <td>{{user.nombre}}</td>
        <td>{{user.cedula}}</td>
        <td>{{user.usuario}}</td>
        <td>{{user.telefono}}</td>
        <td>{{user.email}}</td>
        <td>{{user.direccion}}</td>
      </tr>
</table>



      