<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Esta seccion contiene el listado de preguntas frecuentes acerca de <strong>ChucheMET</strong>. Si tu pregunta no aparece aca, por favor contactanos!.
    </div>

    <br />

    <div class="" id="accordion">
        <div class="faqHeader">Preguntas Generales</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Necesito una cuenta para hacer un pedido?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-block">
                    Si, para realizar un pedido necesitas tener una cuenta en la app, puedes registrarte presionando "log in" en la barra de navegacion y luego hacer click en registrarte
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Donde estan ubicados?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="card-block">
                    Estamos ubicados en tres sedes: La castellana, Las mercedes y La Lagunita
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Puedo contratarlos para ventos?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="card-block">
                    Si, puede contratarnos para eventos, siemre y cuando nos notifique con 48 horas de anticipacion
                </div>
            </div>
        </div>

        <div class="faqHeader">Delivery</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cual es el horario del delivery?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="card-block">
                    Nuestro servicio delivery trabaja las 24 horas del dia
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Que metodos de pago aceptan?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="card-block">
                    Aceptamos:
                    <ul>
                        <li>Zelle</li>
                        <li>Transferencia en Bolibvares</li>
                        <li>Venmo</li>
                        <li>Pago movil</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">A que zonas atiende el delivery?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="card-block">
                    Nuestro servicio delivery atiende a toda la ciudad de Caracas, a los 5 Municipios
                    <br />
                </div>
            </div>
        </div>

        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Cuales son las politicas del Delivery?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="card-block">
                    <ul>
                        <li>Si el delivery tarda mas de 45 minutos, obtiene 50% de descuento</li>
                        <li>Si el delivery tarda mas de 1 hora, su pedido es gratis</li>
                        <li>En caso de de este lloviendo, los anteriores no aplican</li>
                        <li>El delivery no sale a su destino hasta no comprobar el pago</li>
                    </ul> 
                </div>
            </div>
        </div>

        <div class="faqHeader">Pick Up</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Horario de la tienda fisica?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="card-block">
                    Lunes a Jueves de 12pm a 10pm 
                    <br>
                    Viernes a Sabado de 12pm a 12am
                    <br>
                    Domingos de 12pm a 9pm
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Puedo realizar pick up sin antes hacer el pedido por la pagina?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="card-block">
                    Si
                </div>
            </div>
        </div>
    </div>
</div>

