<div class="contenedor">
    <form action="" class="form">
        <div class="from-header">
            <h1 class="from-title">T<span>arjeta de credito/debito</span></h1>
        </div>

        <label class="from-label">numero de tajeta: </label>
        <input type="text" id="nombre" class="form-input" placeholder="Ingrese su número de tarjeta" >
       

        <label  class="from-label">Nombre </label>
        <input type="text" id="correo" class="form-input" placeholder="Ingrese su nombre">

        <label for="correo" class="from-label">fecha de vencimiento </label>
        <input type="text" id="correo" class="form-input" placeholder="30/10">

        <label for="correo" class="from-label">codigo de seguridad </label>
        <input type="text" id="correo" class="form-input" placeholder="cvc">

        
        
    

       

        <input type="submit" class="btn-submit" onclick='return enviarFormulario();' value="enviar" >

       
        
    </form>

 
  



   

    <div id='error'> </div>
</div>
