<h1>Ingresa el método de pago</h1>

<div class="contenedor">
    <div class="portafolioC">
        <section class="portafolioI">
           <a href="PagoZP"><img src="assets/paypal.png" class="portafolioIMG" style="width:500px"></a> 
            <section class=portafolioT>
                <h2>Paypal</h2>
                <p>¿Quiere escoger como metodo de pago Paypal?</p>
            </section>


        </section>
        <section class="portafolioI">
            <a href="pagoZP"><img src="assets/zelle.png" class="portafolioIMG" style="width:500px"></a>
            <section class=portafolioT>
                <h2>zelle</h2>
                <p>¿Quiere escoger como metodo de pago Zelle?</p>
            </section>


        </section>
        <section class="portafolioI">
            <a href="credito"><img src="assets/credito.png" class="portafolioIMG" style="width:500px"></a>
            <section class=portafolioT>
                <h2>Tarjetas internacionales y nacionales </h2>
                <p> Aceptamos debito y credito</p>
            </section>


        </section>

    </div>
</div>

