@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

*{
    margin: 0%;
    padding: 0%;
}

.div1{
    margin-left: 50px;
    margin-top: 50px;
    height: 60px;
    width: 150px;
    background-color:#4DA1D5;
    color: white;
}

.txt1{
    text-align: center;
    padding-top: 0px;
    font-family: 'Peddana', serif;
    font-size: 25px;
}

.txt2{
    text-align: center;
    margin-top: -30px;
    font-family: 'Peddana', serif;
    font-size: 25px;
}