<div class="form-group">
    <div class="lupa">
        <i id="lupa" class="fas fa-search"></i>
    </div>

    <div class="inputt">
        <label for="inpu" class="labell">Buscador</label>
        <input [(ngModel)] = "filterPost" id="inpu" name="filterPost" type="text" class="form-control" placeholder="Buscar producto por nombre" style="width: 250px; height: 25px;">
    </div>
</div>

<div class="contain" id="cont">
    <div class="card" id="product" style="width: 19rem; margin-top: 50px; margin-left: 90px;" *ngFor="let item of items | filter: filterPost">
        <img src="{{item.imagen}}" id="img" alt="">
        <div class="card-body">
          <h5 class="card-title" style="margin-left: 5px;">{{item.precio}}$</h5>
          <p class="card-text"  style="margin-left: 5px;">{{item.name}}</p>
          <a style="background-color: #4DA1D5; border: #4DA1D5; margin-top: 10px;" id="agregar" href="#" class="btn btn-primary">Agregar</a>
          <a [routerLink]="[ '/vista', item.id ]" style="background-color: #4DA1D5; border: #4DA1D5; margin-top: 10px;" id="detalles" class="btn btn-primary">Detalles</a>
        </div>
      </div>
</div>



